{% extends "layout.html" %}

{% block content %}

<div class="container body-content">
    <h1>Widgetr Admin Panel</h1>
    {% for host in hosts %}
        <p>{{ host[1] }} <a href="/delete_host/{{ host[0] }}">Delete</a></p>
    {% endfor %}
    <form method="post" action="">
        <input type="text" name="hostname" placeholder="Hostname" />
        <input type="submit" name="Submit" value="Submit" />
    </form>
</div>
<hr />
<footer>
    <p>&copy; {{ year }} - My Flask Application</p>
</footer>

{% endblock %}
