body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* manual styles */

html, body {
    height: 100%;
}

.frame-container {
    height: 100%;
}

#widget-container {
    height: 100%;
    width: 100%;
}

.third-row {
    height: 33.2%;
    margin: 0px;
}

.half-row {
    height: 50%;
    margin: 0px;
}

.two-third-row {
    height: 66.5%;
    margin: 0px;
}

.full-row {
    height: 100%;
    margin: 0px;
}

.widget {
    width: 100%;
    height: 100%;
    border: none;
}

.col-md-3 {
    padding: 0px;
}

.col-md-4 {
    padding: 0px;
}

.col-md-6 {
    padding: 0px;
}